 /* VARIABLES */
 :root{

    /* Colors */
    --main-blue: #0084FD;
    --light-blue: #B5DDFF; 

    --purple: #9792E4;

    --orange: #FDC15F;

    --dark-gray: #333333; 

 }
 
 /* RESET */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* /RESET */

/* COMMON */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.container{
    padding: 0 1.8rem
}

ul{
    list-style-type: none;
}

.inherit a{
    color: inherit;
    text-decoration: none;
}
/* /COMMON */

/* HEADER */
header{
    background-color: var(--main-blue);
    color: white;
    padding: 1rem 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .desktop-menu{
    display: none;
}
/* /HEADER */

/* MAIN */
/* Section:Info */
#info{
    margin-top: 6.25rem;
}

 #info .card{
    background-color: var(--light-blue);
    margin-bottom: 1em;
    border-radius: 20px;
    padding: 1.3rem;
 }
/* /Section:Info */

/* /MAIN */

/* MEDIA QUERY */

/* TABLET */
@media screen and (min-width:768px) {

    /* MAIN */
    /* Section:info */
     #info .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     
     #info .card{ 
        width: calc(100% / 3 - 1.2em * 2 / 3);
     }

     #info .card:first-child{
        width: calc(100% / 3 * 2 - 1.2em / 3);
     }
     /* /Section:info */
     /* /MAIN */
}

/* DESKTOP */
@media screen and (min-width:992px) {
    /* COMMON */
    .container{
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    /* /COMMON */

    /* HEADER */
    .mobile-menu{
        display: none;
    }

    header .desktop-menu{
        display: block;
    }

    .desktop-menu ul li{
        display: inline-block;
        margin-left: 1rem;
    }

    /* MAIN */
    /* Section:Info */
    #info .card:first-child{
        display: flex;
    }

    #info .card:first-child .card-info{
        width: 45%;
    }

    #info .card:first-child .card-visual{
        width: 55%;
    }
    /* /Section:Info */
    /* /MAIN */

    /* /HEADER */
}