 /* VARIABLES */
 :root{

    /* Colors */
    --main-blue: #0084FD;
    --light-blue: #B5DDFF; 

    --purple: #9792E4;

    --orange: #FDC15F;

    --dark-gray: #333333; 

    /* Spaces */
    --card-spaces: 1.2em;
    --section-spaces: 4rem;
 }
 
 /* RESET */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* /RESET */

/* COMMON */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.round-img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.container{
    padding: 0 1.8rem
}


p{
    line-height: 1.7rem;
}

ul{
    list-style-type: none;
}

h3{
    margin-bottom: var(--card-spaces);
}

.inherit a{
    color: inherit;
    text-decoration: none;
}

section{
    padding: var(--section-spaces) 0;
}

section:nth-of-type(2n + 2){
    background-color: var(--purple);
}

/* cards */
.card{
    margin-bottom: var(--card-spaces);
    padding: 1.5rem;
}

.card-normal{
    border-radius: 20px;
}

.card-wide{
    border-radius: 40px;
}
/* Buttons */
.button{
    border-radius: 18px;
    text-decoration: none;
    display: inline-block;
}

.cta-button{
    background-color: white;
}

.card-button{
    color:white;
    padding:  .4rem 2.8rem;
    letter-spacing: .1rem;
    font-weight: 700;
}
/* /COMMON */

/* HEADER */
header{
    background-color: var(--main-blue);
    color: white;
    padding: 1rem 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    vertical-align: middle;
}

header .mobile-menu{
    font-size: 1.5rem;
    cursor: pointer;
}

header .desktop-menu{
    display: none;
}

header .button{
    color: black;
    padding: .4rem .7rem;
}
/* /HEADER */

/* MAIN */
/* Section:Info */
#info{
    padding-top: 7rem;
}

#info .card{
    background-color: var(--light-blue);
}

#info .card:first-child{
    padding-bottom: 0;
}

.card-info{
    text-align: center;
}

.card-info i{
    font-size: 4rem;
    margin-bottom: 1rem;
}

#info h3, .card-info i{
   color: var(--main-blue);
}

#info .card-left .button{
    background-color: var(--main-blue);
    margin: var(--card-spaces) 0;
}

#info .card-right img{
    display: block;
}
/* /Section:Info */

/* Section:planning */
.strategic{
    margin-bottom: var(--card-spaces);
    color: white;
}

.strategic h3{
    font-size: 1.8rem;
}

.strategic img{
    margin-bottom: var(--section-spaces);
}

.development{
    background-color: white;
    text-align: center;
}

.planning-img{
    margin-bottom: var(--card-spaces);
}

.arrow{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    line-height: 2.3rem;
    font-size: .8rem;
    text-align: center;
    background-color: var(--purple);
    margin-top: var(--card-spaces);
}
/* /Section:planning */

/* Section:Testimonials */
#testimonials{
    text-align: center;
}

.testimonial-info h4{
    font-weight: 100;
    margin-bottom: var(--card-spaces);
}

.testimonial-info h3{
    color: var(--purple);
    font-size: 2rem;
}

#testimonials .card{
    background-color: var(--purple);
    margin: var(--card-spaces) 0;
}

#testimonials .cwi{
    color: white;
}

.card-txt p{
    margin: var(--card-spaces) 0;
}

.card-txt p>span{
    line-height: 0;
    vertical-align: text-bottom;
    font-size: 3rem;
}
/* /Section:Testimonials */

/* Section-Benefits */
.section-title{
    text-align: center;
    color:white;
    font-size: 1.5rem;
}

#benefits .card{
    background-color: white;
}

#benefits .card h3{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: var(--purple);
}

#benefits .card h4{
    color: var(--purple);
    margin-bottom: var(--card-spaces);
}

#benefits .button{
    background-color: var(--purple);
    margin-top: var(--card-spaces);
    font-size: .7rem;
}
/* /Section-Benefits */

/* Section:About-us */
#about-us .card-txt h3{
    color: var(--purple);
    font-size: 2rem;
}

#about-us .card-txt p{
    margin-bottom: 2rem;
}

#about-us .card-img{
    position: relative;
    color: var(--purple);
}

#about-us .card-img span{
    display: inline-block;
    line-height: 0;
    font-size: 8rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
}

#about-us .card-img p{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.linkedin{
    background-color: var(--purple);
    color: white;
    padding: .3em 1em;
    font-size: .8rem;
}
/* /Section:About-us */

/* Section:cta */
.cta{
    text-align: center;
}
/* /Section:cta */
/* /MAIN */

/* FOOTER */
footer{
    background-color: var(--dark-gray);
    color:white;
    padding: var(--section-spaces) 0;
    text-align: center;
}

.footer-top{
    margin-bottom: var(--section-spaces);
}
/* /FOOTER */

/* MEDIA QUERY */
/* TABLET */
@media screen and (min-width:768px) {
    
    /* COMMON */
    .cwi{
        display: flex;
    }

    .round-img{
        width: 11rem;
        height: 11rem;
    }
    /* /COMMON */

    /* MAIN */
    /* Section:info */
     #info .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     
     #info .card{ 
        width: calc(100% / 3 - var(--card-spaces) * 2 / 3);
     }

     #info .card:first-child{
        width: calc(100% / 3 * 2 - var(--card-spaces) / 3);
     }

     #info .card-right{
        width: 45%;
    }
     /* /Section:info */

     /* Section:Planning */
     .strategic h3{
        font-size: 4rem;
     }
     /* /Section:Planning */

     /* Section:Testimonials */
     #testimonials{
        text-align: left;
     }

     #testimonials .card-img{
        width: 27%;
     }

     #testimonials .card-txt{
        padding: 0 1rem;
        width: 73%;
     }
     /* /Section:Testimonials */

     /* Section:Benefits */
     #benefits .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }

     #benefits .card h4{
        font-size: 1.2rem;
     }

     #benefits .card{
        width: calc(100% / 2 - var(--card-spaces) / 2);
     }
     /* /Section:Benefits */

      /* Section:About-us */
      #about-us{
        padding: var(--section-spaces) 2.5rem;
      }

      #about-us .row{
        display: flex;
        justify-content: space-between;
      }

      #about-us .card-txt{
        width: 60%;
      }

      #about-us .card-img{
        width: 30%;
      }

      #about-us .card-img span{
        left: 7.5rem;
      }

     /* /Section:About-us */
     
     /* Section:cta + FOOTER */
     #section-cta .container, footer .container{
        width: 50%;
        margin: 0 auto;
     }
     /* /Section:cta + FOOTER*/
     /* /MAIN */
}

/* DESKTOP */
@media screen and (min-width:992px) {
    /* COMMON */
    .container{
        width: 70%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
    }
    /* /COMMON */

    /* HEADER */
    .mobile-menu{
        display: none;
    }

    header .desktop-menu{
        display: block;
    }

    .desktop-menu ul li{
        display: inline-block;
        margin-left: 1rem;
    }
    /* /HEADER */

    /* MAIN */
    /* Section:Info */
    #info .card:first-child{
        display: flex;
    }

    #info .card-left{
        width: 55%;
    }

    #info .card-right{
        align-self: flex-end;
    }

    /* /Section:Info */

    /* Section:planning */
    #planning .row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .strategic, .development{
        width: calc(100% / 2 - 1em);
    }

    .strategic h3{
        font-size: 1.8rem;
    }
    /* /Section:planning */

    /* Section:Benefits */
    #benefits .card{
        width: calc(100% / 3 - var(--card-spaces) / 3);
     }
    /* /Section:Benefits */

    /* /MAIN */

    
}