 /* VARIABLES */
 :root{

    /* Colors */
    --main-blue: #0084FD;
    --light-blue: #B5DDFF; 

    --purple: #9792E4;

    --orange: #FDC15F;

    --dark-gray: #333333; 

    /* Spaces */
    --card-spaces: 1.2em;
    --section-spaces: 4rem;
 }
 
 /* RESET */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* /RESET */

/* COMMON */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.container{
    padding: 0 1.8rem
}

ul{
    list-style-type: none;
}

.inherit a{
    color: inherit;
    text-decoration: none;
}

section{
    margin: var(--section-spaces) 0;
}

section:nth-of-type(2n + 2){
    background-color: var(--purple);
}

/* cards */
.card{
    margin-bottom: var(--card-spaces);
    padding: 1.3rem;
}

.card-normal{
    border-radius: 20px;
}

.card-wide{
    border-radius: 40px;
}
/* /COMMON */

/* HEADER */
header{
    background-color: var(--main-blue);
    color: white;
    padding: 1rem 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .desktop-menu{
    display: none;
}
/* /HEADER */

/* MAIN */
/* Section:Info */
 #info .card{
    background-color: var(--light-blue);
 }
/* /Section:Info */

/* Section:planning */
#planning{
    background-color: var(--purple);
    padding: 3em 0;
}

.strategic{
    margin-bottom: var(--card-spaces);
    /* debug */
    background-color: yellow;
}

.development{
    background-color: white;
}

.planning-info{
    /* debug */
    background-color: red;
}
/* /Section:planning */

/* Section:Testimonials */

#testimonials .card{
    background-color: var(--purple);
    margin: var(--card-spaces) 0;
    /* debug */
    height: 100px;
}

/* /Section:Testimonials */

/* /MAIN */

/* MEDIA QUERY */

/* TABLET */
@media screen and (min-width:768px) {
    
    /* COMMON */
    .cwi{
        display: flex;
    }
    /* /COMMON */

    /* MAIN */
    /* Section:info */
     #info .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
     }
     
     #info .card{ 
        width: calc(100% / 3 - var(--card-spaces) * 2 / 3);
     }

     #info .card:first-child{
        width: calc(100% / 3 * 2 - var(--card-spaces) / 3);
     }
     /* /Section:info */

     /* Section:Testimonials */
     .card-img{
        width: 15%;
        /* debug */
        background-color: orange;
     }

     .card-txt{
        padding-left: 1rem;
        width: 85%;
        /* debug */
        background-color: blanchedalmond;
     }
     /* /Section:Testimonials */
     /* /MAIN */
}

/* DESKTOP */
@media screen and (min-width:992px) {
    /* COMMON */
    .container{
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    /* /COMMON */

    /* HEADER */
    .mobile-menu{
        display: none;
    }

    header .desktop-menu{
        display: block;
    }

    .desktop-menu ul li{
        display: inline-block;
        margin-left: 1rem;
    }

    /* MAIN */
    /* Section:Info */
    #info .card:first-child{
        display: flex;
    }

    #info .card:first-child .card-info{
        width: 45%;
        /* debug */
        background-color: bisque;
    }

    #info .card:first-child .card-visual{
        width: 55%;
        /* debug */
        background-color: brown;
    }
    /* /Section:Info */

    /* Section:planning */
    #planning .row{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .strategic, .development{
        width: calc(100% / 2 - 1em);
    }
    /* /Section:planning */
    /* /MAIN */

    /* /HEADER */
}